@model IEnumerable<ProjetoMVC.Models.Contato>

 @{
    ViewData["Title"] = "Listagem de Contatos";
 }   


    <h2>Contatos</h2>
    <p>
        <a asp-action = "Criar">Novo Contato</a>
    </p>

    <table class="table">
        <thead>
            <th>
                @Html.DisplayNameFor(model =>  model.ID);
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Nome);
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Telefone);
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Ativo);
            </th>
            <th></th>
        </thead>

        <tbody>
          @foreach (var item in Model)
          {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Ativo)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Detalhes" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Deletar" asp-route-id="@item.ID">Editar</a>
                </td>
            </tr>
          }
        </tbody>
        
    </table>


